<h1 style="text-align: center;">Time for quizz!</h1>
<div style="height: 500px;">
  <img style="margin-left: auto; margin-right: auto; display:block; height: 500px;" src="../assets/quizz.png" />
</div>
<div style="margin-top: 20px; width: 400px; margin-left: auto; margin-right: auto;">
  How long do Koala sleep every night
  <ul style="list-style-type: none;">
    <li><input type="radio" value="8 hours" /> 8 hours</li>
    <li><input type="radio" value="10 hours" /> 10 hours</li>
    <li><input type="radio" value="12 hours" /> 12 hours</li>
  </ul>

  Does a baby Koala grow up to be a sloth
  <ul style="list-style-type: none;">
    <li><input type="radio" value="Yes" /> Yes</li>
    <li><input type="radio" value="No" /> No</li>
    <li><input type="radio" value="Maybe" /> Maybe</li>
  </ul>

  <div><input type="submit" value="Check my answers!" /></div>
</div>
<div style="height: 100px;"></div>
