<img src="https://www.worldatlas.com/r/w960-q80/upload/90/92/1d/shutterstock-370060808.jpg"/>
<p>Koalas eat a variety of eucalypt leaves and a few other related tree species. <small><b><i>(including lophostemon, melaleuca and corymbia species.)</i></b></small></p>
<p>They consume around 500 grams of leaves each day. <small><b><i>approximately the size of a small lettuce.</i></b></small></p>
<p>They obtain most of their water requirements from the leaves <small><b><i> which can contain up to 50% water.</i></b></small></p>
<p>Eucalypt leaves contain many toxic compounds similar to that of cyanide <small><b><i>which most animals cannot eat.</i></b></small></p>